<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-learning | Courses</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Navbar -->
    {% include '../partials/_navbar_home.html' %}

    <div class="container-fluid">
        <h1 style="justify-items: center;">Welcome to Our E-learning Site</h1>
    <h2>Here is our list of Courses</h2>
    <div class="courses-list">
        {% if courses %}
            {% for item in courses %}
            <div class="course-item">
                <div style="display: block; margin: 0; border-radius: 8px;">
                    <img src="{{item.image.url}}" style="border-radius: 8px; height: 180px;width: 340px; margin: 2; padding: 0; overflow: hidden; object-fit: fill; object-position: center;">
                </div>
                <h1 id="course-title">
                    <a  style="text-decoration: none;" href="#" target="_blank" title="Join Course: {{ item.name }}">{{ item.name }}</a>
                </h1>
                <div class="course-capacity">
                    <p class="enrollment">Enrolled Students: <span style="color: red; margin-left: 6px; font-weight: bolder;">{{item.total_enrollment}}</span></p>
                    <p>Start Date: <span style="color: red; margin-left: 6px; font-weight: bolder;">{{item.pub_date }}</span> </p>
                </div>
                
                <p id="course-description">{{ item.description }}</p>
            </div>
                
            {% endfor %}
        
        {% else %}
            <p>No Courses are available for now</p>
            
        {% endif %}  
    </div>
    {% if courses %}
    <p>{{number}} Results Returned</p>

    <div class="course-analytics">
        <h2 style="color: red;">Courses Analytics</h2>
        <p><span style="color: #008000; font-weight: 900; font-size: 16px;">✔</span> {{students}} Students Enrolled</p>
        <p><span style="color: #008000; font-weight: 900; font-size: 16px;">✔</span> {{average}}+ Students on Average</p>
        <p><span style="color: #008000; font-weight: 900; font-size: 16px;">✔</span> {{maximum_students}} Students in Maximum</p>
        <p><span style="color: #008000; font-weight: 900; font-size: 16px;">✔</span> {{minimum_students}} Students in Minimum</p>
    </div>
    
    {% else %}
            <p>No Courses are available for now</p>
            

     {% endif %}  
    </div>
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>