{% load static %}
<style>
    /* The Scrolling Words Corousel on the Dashboard */
.corousel-container{
    overflow: hidden;
    white-space: nowrap;
    background: #1cdf1c;
    padding: 6px 0 6px 0;
    margin: 0 0 6px 0;
    position: relative;
    display: flex;
    width: 100%;
}

.scrolling-wrapper{
    display: flex;
    margin: 0;
    width: max-content;
    position: relative;
}

.scrolling-wrapper p{
    margin: 0 60px 0 60px;
    padding: 0;
    font-size: 16px;
    color: white;
    font-weight: 600;
    opacity: 0; /*Initially hidden */
    transition: opacity 2s ease-in-out;
}

</style>

<section id="navbar" class="sticky-top text-bg-light pd-4 shadow-lg mx-0 border-bottom border-dark-subtle">
    <div class=" p-2">     
    <div id="top-navbar" class="d-flex justify-content-between">
        <div class="top-links d-flex justify-content-start">
            <h2 class="mr-3">Currency</h2>
            <div class=" top-links dropdown-center">
                <h2 class=" mx-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Language</h2>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item " href="#">English</a></li>
                    <li><a class="dropdown-item " href="#">Swahili</a></li>
                    <li><a class="dropdown-item " href="#">French</a></li>
                </ul>
            </div>   
        </div>
        <div class=" top-links d-flex justify-content-end ">
            <h2 class="mx-3">Support</h2>
            <h2 class="mx-3">Delivery</h2>
            <h2 class="ml-3">Warranty</h2>
        </div>
    </div>
    <!-- Mid Navbar -->
    <div id="mid-navbar" class="d-flex justify-content-between">
        <div id="logo-name" class="d-flex justify-content-start" >
            <div>
                <img src="" alt="">
            </div>
            <h3>FreshCart</h3>
        </div>
        <!-- Search section -->
        <div id="search-section" class="input-group align items-center my-auto border border-success rounded border-dark-subtle" style="width: 45vw; height: 40px;">
            <input type="text" class="form-control shadow" placeholder="Search for Products" aria-label="products search" aria-describedby="button-addon2">
            <button id="button-addon2" class="btn btn-success shadow fw-bold" style="background-color: #1cdf1c;" type="button">Search</button>
        </div>
        <!-- Icons Panel -->
        <div id="icons" class="d-flex py-0 justify-content-evenly">
            <div id="notification-block" class="mr-3 my-auto">
                <img class="d-block mx-auto my-auto" src="{% static 'icons/bell.svg' %}" alt="">
                <p class="mb-0">Notification</p>
            </div>
            <div id="signup-block" class="mx-3 my-auto" style="cursor: pointer;" onclick="linkTo('../logout')">
                <img class="d-block mx-auto" src="{% static 'icons/person-circle.svg' %}" alt="">
                <p class="mb-0">Sign out</p>
            </div>
            <div id="orders-block" class="mx-3 my-auto">
                <img class="d-block mx-auto" src="{% static 'icons/journal-richtext.svg' %}" alt="">
                <p class="mb-0">My Orders</p>
            </div>
            <div id="cart-block" class="ml-3 my-auto">
                <img class="d-block mx-auto" src="{% static 'icons/mortarboard.svg' %}" alt="">
                <p class="mb-0">Learners</p>
            </div>

        </div>
    </div>
    <!-- All tabs navbar -->
    <div id="navbar-links" class="d-flex justify-content-between ">
        <div class="d-flex justify-content-start">
            <div id="all-categories" class="mr-3 mt-2">
                <p class="mr-4 mt-1 mb-0 fs-8">All Categories</p>
            </div>
            <div id="home" class="mr-3 mt-2" style="cursor: pointer;" onclick="linkTo('/')">
                <p class="mx-2 mt-1 mb-0 fs-8">Home</p>
            </div>
            <div id="Shop" class="mr-3 mt-2">
                <p class="mx-2 mt-1 mb-0 fs-8">Continuing</p>
            </div>
            <div id="Stores" class="mr-3 mt-2">
                <p class="mx-2 mt-1 mb-0 fs-8">Completed</p>
            </div>
            <div id="mega-menu" class="mr-3 mt-2" style="cursor: pointer;" onclick="linkTo('/courses')">
                <p class="mx-2 mt-1 mb-0 fs-8">All Courses</p>
            </div>
            <div id="pages" class="mr-3 mt-2">
                <p class="mx-2 mt-1 mb-0 fs-8">Assignments</p>
            </div>
            <div id="account" class="mr-3 mt-2">
                <p class="mx-2 mt-1 mb-0 fs-8">Account</p>
            </div>
            <div id="docs" class="mr-3 mt-2">
                <p class="mx-2 mt-1 mb-0 fs-8">Docs</p>
            </div>
        </div>
        <!-- Rignt side Components -->
        <div class="d-flex justify-content-evenly">
            <div id="docs" class="mr-3 mt-2">
                <p class="mx-2 mt-1 mb-0 fs-8">{{user.first_name}} {{user.last_name}}</p>
            </div>
            <div id="docs" class="mr-3 mt-2">
                <p class="mx-2 mt-1 mb-0 fs-8 text-danger">{{current_datetime}} </p>
            </div>
        </div>   
    </div>    
    </div>

    <!-- Updated Tab for Notification messages -->
    <div class="corousel-container ">
        <div class="scrolling-wrapper" id="scrollingWords">
            <p>Message 1 should be long enoughg so that when yo  see it you can appreciate hould be long enoughg so that when yo  see it you can appreciate</p><div style="color: #fff;">|</div>
            <p>Message 2 is somewhat so</p><div style="color: #fff;">|</div>
            <p>Message 3 should also</p>            
        </div>
    </div>

</section>
                        
<script>
    function linkTo(url){
        window.location.href = url;
    }

    const words = document.querySelectorAll('#scrollingWords p')
    let delay = 0;  //Start delay in seconds

    // Stager visibility of each word with delay
    words.forEach((word, index) => {
        setTimeout(() =>{
            word.style.opacity = 1;  //make the word visible
        }, delay)

        // Increase delay for each subsequent word
        delay += 1500; //Delay by 1.5s each
    });

    // Make words scroll continously
    let currentPosition = 1000;

    function scrollWords(){
        const wrapper = document.getElementById('scrollingWords');
        const totalWidth = wrapper.scrollWidth;

        // Move container to the left by 1px each 10ms
        setInterval(() => {
            if (currentPosition <= -totalWidth) {
                 currentPosition = 1000; //Reset when words are fully scrolled out
            }
             currentPosition -= 1;
             wrapper.style.transform = `translateX(${currentPosition}px)`;  
            
        },10);
    }
    scrollWords()
</script>
             