<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Learning | SignUp</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>SignUp to Our Site</h1>
    <div class="signup-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">SignUp</button>
        </form>
    </div>
</body>
</html>