@import "tailwindcss";

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 18px;
};

.navbar-lowerlinks{
    font-size: 14px;
    font-weight: 700;
    margin-top: 4px;
    margin-right: 16px;
    margin-bottom: 0;
}

.footer-links{
    display: block;
    font-size: 14px;
    color: #0d6efd;
    cursor: pointer;
}

.course-grids{
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 12px 10px;
}
.testimony-grids{
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 20px 12px;
}

.form-control{
    margin-top: 4px;
    display: block;
    outline: none;
    border-radius: 6px;
    width: 100%;
    padding: 2px 6px;
   
}